<div class="map-clean" style="margin-top: 72px;">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">{{'Screenings.Title' | translate}}</h2>
      <p>{{'Screenings.Subtitle' | translate}}</p>
    </div>
  </div>
</div>
<div style="margin-bottom: 40px;" align-content-center>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-lowercase d-xl-flex justify-content-xl-center">
        <form  name="screeningDate"><input [(ngModel)]="selectedDate" (change)="onChangeDate()" class="form-control d-xl-flex align-items-xl-center" type="date" name="screeningDate" style="margin-right: 0px;margin-bottom: 19px;border-radius: 7px;border-width: 2px;border-style: solid;width: 187px;"></form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive table-borderless table-striped">
          <table class="table">
            <thead>
            <tr>
              <th class="text-center">{{'Screenings.ResultsTitle' | translate}}</th>
            </tr>
            </thead>
            <tbody style="border-style: none;">
            <app-screening *ngFor="let screening of screeningsList"
                           [screening]="screening"
                           [filtered]="!(screening.screeningDate.includes(this.selectedDate))"></app-screening>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col text-center"><button class="btn btn-danger" type="button" style="margin-bottom: 19px;">{{'Screenings.Reset' | translate}}</button></div>
    </div>
  </div>
</div>
