<tr class="table-bordered table-responsive" style="margin-bottom: 10px">
  <td class="text-center" style="width: 30%"><img style="width: 120px;height: 180px;" [src]='urlPhoto'></td>
  <td style="width: 40%" style="margin-left: 20px; margin-right: 20px">
    <ul>
      <li><b>Title: </b> {{title}}</li>
      <li><b>Location: </b> {{location}}</li>
      <li><b>Venue: </b> {{venue}}</li>
      <li><b>Genre: </b> {{genres}}</li>
      <li><b>Version: </b> {{versions}}</li>
      <li><b>Available seats: </b> {{availableSeats}}</li>
      <li><b>Time: </b> {{time}}</li>
    </ul>
  </td>
  <td class="align-middle" style="width: 30%"><button class="btn btn-secondary" type="button">Buy tickets</button></td>
</tr>
