<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark clean-navbar">
  <div class="container"><a class="navbar-brand logo" href="#">Cinepolis</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-2"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse"
         id="navcol-2">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="home">Home</a></li>
        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">Locations</a>
          <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" routerLink="locations">Locations</a></div>
        </li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="movies">Movies</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="screenings">Screenings</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="search">Search</a></li>
        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">EN</a>
          <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
        </li>
        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">USER</a>
          <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" role="presentation" href="#">Login</a>
            <a class="dropdown-item" role="presentation" routerLink="profile">Profile</a>
            <a class="dropdown-item" role="presentation" routerLink="admin">Administration</a>
            <a class="dropdown-item" role="presentation" href="#">Logout</a></div>
        </li>
      </ul><button class="btn btn-secondary" type="button">Register</button></div>
  </div>
</nav>

      <router-outlet></router-outlet>
<footer class="page-footer dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>Get started</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Sign up</a></li>
          <li><a href="#">Downloads</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>About us</h5>
        <ul>
          <li><a href="#">Company Information</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Legal</h5>
        <ul>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2020 Copyright Text</p>
  </div>
</footer>
