<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark clean-navbar">
  <div class="container"><a class="navbar-brand logo" routerLink="home">Cinepolis</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-2"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse"
         id="navcol-2">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="home">{{'Navbar.Home' | translate}}</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="locations">{{'Navbar.Locations' | translate}}</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="movies">{{'Navbar.Movies' | translate}}</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="screenings">{{'Navbar.Screenings' | translate}}</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="search">{{'Navbar.Search' | translate}}</a></li>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">{{languageInUse}}</a>
          <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" role="presentation" style="user-select: none;" (click)="changeLanguage('en')">EN</a>
            <a class="dropdown-item" role="presentation" style="user-select: none;" (click)="changeLanguage('fr')">FR</a>
            <a class="dropdown-item" role="presentation" style="user-select: none;" (click)="changeLanguage('nl')">NL</a>
          </div>
        </li>
        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">{{'Navbar.User.User' | translate}}</a>
          <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" role="presentation" *ngIf="!isAuthenticated()" (click)="login()">{{'Navbar.User.Login' | translate}}</a>
            <a class="dropdown-item" role="presentation" *ngIf="isAuthenticated()" routerLink="profile">{{'Navbar.User.Profile' | translate}}</a>
            <a class="dropdown-item" role="presentation" *ngIf="isAdministrator()" routerLink="admin">{{'Navbar.User.Administration' | translate}}</a>
            <a class="dropdown-item" role="presentation" *ngIf="isAuthenticated()" (click)="logoff()">{{'Navbar.User.Logout' | translate}}</a></div>
        </li>
      </ul><button class="btn btn-secondary" *ngIf="!isAuthenticated()" type="button">{{'Navbar.Register' | translate}}</button></div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="page-footer dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>{{'Footer.GetStarted.Title' | translate}}</h5>
        <ul>
          <li><a routerLink="home">{{'Footer.GetStarted.Home' | translate}}</a></li>
          <li><a href="#">{{'Footer.GetStarted.Register' | translate}}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{'Footer.AboutUs.Title' | translate}}</h5>
        <ul>
          <li><a href="#">{{'Footer.AboutUs.Company' | translate}}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{'Footer.Legal.Title' | translate}}</h5>
        <ul>
          <li><a href="#">{{'Footer.Legal.TermsOfService' | translate}}</a></li>
          <li><a href="#">{{'Footer.Legal.TermsOfUse' | translate}}</a></li>
          <li><a href="#">{{'Footer.Legal.Privacy' | translate}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>{{'Footer.Copyright' | translate}}</p>
  </div>
</footer>
