<div class="item" style="margin-right: 10px;margin-bottom: 10px;border-radius: 10px;border-width: 2px;border-style: solid;">
  <div class="table-responsive table-borderless">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="border rounded-0 border-white"><strong>{{title}}</strong><br></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="border-white"><img src="{{photoUrl}}" class="img-fluid" width="360px" height="540px" style="width: 120px;height: 180px;"></td>
      </tr>
      <tr>
        <td class="border rounded-0 border-white">{{description}}<br></td>
      </tr>
      <tr>
        <td class="border rounded-0 border-white">
          <p class="description"><b>{{'Movies.Versions' | translate }}</b> {{versions}}</p>
          <p class="description"><b>{{'Movies.Genres' | translate }}</b> {{genres}}</p><br></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
